@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


:root {
    --font: 'Roboto', sans-serif;
    --red: #FF385C;
    --dark: #222222;
    --light-grey: #f0efe9;
    --dark-grey: #B0B0B0;
    --light: #F7F7F7;
    --white: #fff;
    --nav-box-shadow:0 2px 4px rgba(0,0,0,0.18);
}

body {
    font-family: var(--font)
}

.text-red {
    color: var(--red);
}

.text-dark {
    color: var(--dark);
}

.text-light-grey {
    color: var(--light-grey);
}

.bg-red {
    background-color: var(--red);
}

img {
    width: 100%;
}

.light-bt-border {
    border-bottom: 1px solid var(--light-grey);
}
.ml-2{
    margin-left: 0.5rem;
}
.ml-4{
    margin-left: 1rem;
}

/* top navigation start */
.navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-color: var(--dark-grey);
    border-width: 1px solid;
}

.navigation .logo svg {
    color: var(--red);
}

.navigation .user-avater {
    display: flex;
}

.navigation .greeting-text {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    padding: 10px 15px;
    border-radius: 22px;
}

.navigation .greeting-text:hover {
    background: var(--light);
}

.navigation .world-icon {
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 8px !important;
}

.navigation .world-icon:hover {
    background-color: var(--light);
}

.navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    background-color: var(--white);
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    padding: 5px 5px 5px 12px;
    width: 77px;
    height: 42px;
    color: #717171;
}
.navigation .menu:hover{
    box-shadow: var(--nav-box-shadow);
}
.navigation .search{
    width: 300px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border: 1px solid var(--dark-grey);
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
    padding: 0 5px 0 16px;
    cursor: pointer;
}
.navigation .search:hover{
    box-shadow: var(--nav-box-shadow);
}
.navigation .search .search-placeholder{
    font-size: 14px;
}
.navigation .search .search-icon{
    width: 32px;
    height: 32px;
    color: var(--white);
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* top navigation end */

/* title and reviews count section start */
.title-section{
    padding-top: 24px;
}
.post-title{
    font-size: 26px;
    font-weight: 600;
}
.reviews-share{
    font-size: 14px ;
}
/* title and reviews count section end */

/* image gallery section start */
.image-gallery{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}
.big-img-gallery{
    width: 100%;
    height: 360px;
}
.big-img-gallery img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.image-gallery .grid-img-gallery{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}
.image-gallery .grid-img-gallery img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.image-gallery .grid-img-gallery img:nth-child(2){
    border-radius: 0px 20px 0px 0px;
}
.image-gallery .grid-img-gallery img:nth-child(4){
    border-radius: 0px 0px 20px 0px;
}
/* image gallery section end */

/* property specs with rent section start */
.property-specs{

}
.property-specs .specs-title{
    font-size: 22px;
    font-weight: 600;
}
.property-specs .host-pic img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.specs-items{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}
.specs-items .item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid var(--dark-grey);
    height: 88px;

}
.specs-list-item{
    display: flex;
}
.specs-list-item .specs-list-item-icon{
    margin-right: 15px;
    
}
.specs-list-item .list-item .title{
    font-size: 16px !important;
    font-weight: 600;
    margin-bottom: 4px;
}
/* property specs with rent section end */