@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


:root {
    --font: 'Roboto', sans-serif;
    --red: #FF385C;
    --dark: #222222;
    --light-grey: #f0efe9;
    --dark-grey: #B0B0B0;
    --light: #F7F7F7;
    --white: #fff;
    --nav-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

body {
    font-family: var(--font)
}

ol,
ul {
    padding-left: 0;
}

.text-red {
    color: var(--red);
}

.text-dark {
    color: var(--dark);
}

.text-light-grey {
    color: var(--light-grey);
}

.text-bold {
    font-weight: 600;
}

.bg-red {
    background-color: var(--red);
}

img {
    width: 100%;
}

.light-bt-border {
    border-bottom: 1px solid var(--light-grey);
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-4 {
    margin-left: 1rem;
}

/* top navigation start */
.navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-color: var(--dark-grey);
    border-width: 1px solid;
}

.navigation .logo svg {
    color: var(--red);
}

.navigation .user-avater {
    display: flex;
}

.navigation .greeting-text {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    padding: 10px 15px;
    border-radius: 22px;
}

.navigation .greeting-text:hover {
    background: var(--light);
}

.navigation .world-icon {
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 8px !important;
}

.navigation .world-icon:hover {
    background-color: var(--light);
}

.navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    background-color: var(--white);
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    padding: 5px 5px 5px 12px;
    width: 77px;
    height: 42px;
    color: #717171;
}

.navigation .menu:hover {
    box-shadow: var(--nav-box-shadow);
}

.navigation .search {
    width: 300px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border: 1px solid var(--dark-grey);
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 0 5px 0 16px;
    cursor: pointer;
}

.navigation .search:hover {
    box-shadow: var(--nav-box-shadow);
}

.navigation .search .search-placeholder {
    font-size: 14px;
}

.navigation .search .search-icon {
    width: 32px;
    height: 32px;
    color: var(--white);
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* top navigation end */

/* title and reviews count section start */
.title-section {
    padding-top: 24px;
}

.post-title {
    font-size: 26px;
    font-weight: 600;
}

.reviews-share {
    font-size: 14px;
}

/* title and reviews count section end */

/* image gallery section start */
.image-gallery {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.big-img-gallery {
    width: 100%;
    height: 360px;
}

.big-img-gallery img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.image-gallery .grid-img-gallery {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.image-gallery .grid-img-gallery img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.image-gallery .grid-img-gallery img:nth-child(2) {
    border-radius: 0px 20px 0px 0px;
}

.image-gallery .grid-img-gallery img:nth-child(4) {
    border-radius: 0px 0px 20px 0px;
}

/* image gallery section end */

/* property specs with rent section start
.property-specs{

} */

.property-specs .specs-title {
    font-size: 22px;
    font-weight: 600;
}

.property-specs .host-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.specs-items {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

.specs-items .item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid var(--dark-grey);
    height: 88px;

}

.specs-list-item {
    display: flex;
}

.specs-list-item .specs-list-item-icon {
    margin-right: 15px;

}

.specs-list-item .list-item .title {
    font-size: 16px !important;
    font-weight: 600;
    margin-bottom: 4px;
}

/* property specs with rent section end */


/* property host information start  */
.host-info {
    width: 100%;
    background-color: var(--light-grey);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.host-card {
    width: 60%;
}

.profile-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px 24px;
    border-radius: 24px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.profile-card .host-pic-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-card .host-pic {
    width: 105px;
    height: 105px;
    position: relative;
}

.profile-card .host-pic img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
}

.profile-card .host-badge {
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    bottom: 5px;
    right: 0;
    border-radius: 50%;
    color: var(--white);
}

.profile-card .host-name {
    font-size: 31.9px;
    font-weight: 600;
}

.profile-card .host-designation {
    font-size: 14px;
}

.profile-card .rating-box {
    width: 100px;
}

.profile-card .rating-box .rating {
    font-size: 22px;
    font-weight: 700;
}

.profile-card .rating-box .rating-sub-title {
    font-size: 10px;
}

/* property host information end  */

/* <!-- pricing section start */

.pricing-card {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.pricing-card-header {
    display: flex;
    justify-content: space-between;
}

.check-in-checkout {
    width: 100%;
    border: 1px solid var(--dark-grey);
    border-radius: 8px;

}

.check-in-checkout-top {
    display: grid;
    grid-template-columns: auto auto;
}

.check-in-checkout-bottom {
    font-size: 10px !important;
    text-transform: uppercase;
    padding: 18px 12px 10px !important;
}

.check-in {
    font-size: 10px !important;
    text-transform: uppercase;
    padding: 18px 12px 10px !important;
    border-bottom: 1px solid var(--dark-grey);
    border-right: 1px solid var(--dark-grey);
}

.checkout {
    font-size: 10px !important;
    text-transform: uppercase;
    padding: 18px 12px 10px !important;
    border-bottom: 1px solid var(--dark-grey);

}

.c-subtitle {
    font-size: 14px !important;
}

.check-btn{
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    height: 45px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

/* <!-- pricing section end */

/* <!-- footer section start */
footer {
    width: 100%;
    border-top: 1px solid var(--dark-grey);
    background-color: rgb(247, 247, 247) !important;
    height: 350px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

footer p {
    font-size: 14px;
    font-weight: 500;
}

footer ul li {
    list-style: none;
    margin-top: 16px;
}

footer ul li a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(34, 34, 34) !important;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* <!-- footer section end */


/* small mobile :320px. */
@media(max-width: 767px) {
    .navigation{
        display: none!important;
    }
    .share{
        display:none!important;
    }
    .image-gallery .grid-img-gallery img {
        height: 75px;
        margin-bottom: 10px;
    }
    
    .big-img-gallery {
        height: 160px;
    } 
    
    .big-img-gallery img {
        height: 160px;
        border-radius: 10px 0 0 10px;
    }
    .image-gallery .grid-img-gallery img:nth-child(2) {
        border-radius: 0px 10px 0px 0px;
    }
    .image-gallery .grid-img-gallery img:nth-child(4) {
        border-radius: 0px 0px 10px 0px;
    }
    .specs-items .item {
        height: 70px;
        flex-direction: column;
    }
    .host-card {
        width: 90%;
    }
    .profile-card .host-pic {
        width: 90px;
        height: 90px;
        position: relative;
    }
    .profile-card .host-pic img {
        width: 90px;
        height: 90px;
    }
    .profile-card .host-badge {
        width: 30px;
        height: 30px;
    }
    .profile-card .host-name{
        font-size: 25px;
    }
    footer {
        margin-top: 4rem;
        width: 100%;
        overflow: hidden;
        padding: 40px 20px;
        height: auto;
    }
}